html {
    scroll-behavior: smooth;
}

.top-logo {
    margin-left: 1vw;
    margin-bottom: 1vw;
    margin-top: .3vw;
    height: 5.5vw;
    border: 2px white solid;
}

body {
    font-family: 'Poppins', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    
}

.p-modal {
    font-size: 3px;
}

a {
    color: inherit;
    text-decoration: none;
}

a .projects {
    text-decoration: underline;
}

a:hover {
    color: #cccccc
}

a:visited {
    color: inherit;
}

a:focus {
    color: #666666;
}

section {
    /* height: 100vh; */
    /* background-color: white;
    border: solid black 1px;
    border-bottom-width: 10px; */
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
}

footer {
    /* height: 500px; */
    background-color: black;
}

.logo-img {
    height: 20vw;
    background-color: #fefefe;
    
    /* margin: 0px;
    padding: 0px; */
}

nav { 
    display: flex;
    justify-content: space-between;
    background-color: #303030;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    padding-right: 1em;
    height: 7vw;
    transition: top 0.3s;
    
}

ul {
    display: flex;
    list-style-type: none;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
    font-size: 3vw;
    
}

li {
    text-decoration: none;
}

h1 {
    padding-top: 55vh;
    font-size: 10vw;
    font-weight: 600;
    margin: 0;
}

h2 {
    font-size: 5vw;
}

p {
    margin: 0;
    font-size: 4vw;
    font-weight: 300;
}

.p-about {
    font-size: 3.3vw;
}

.p-modal {
    font-size: 2.5vw;
}

.about-ps {
    padding-top: 10vw;
}

.hero-section {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("hero-banner-3.jpg");
    background-position: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;

}

.hero-text {
    margin-left: 5vw;
    margin-bottom: 22vh;
}

.hero-button {
    width: 7.5em;
    height: 1.8em;
    border-radius: 1em;
    background-color: coral;
    text-align: center;
    font-size: 4vw;
    font-weight: 700;
    padding-top: .8vh;
    margin-top: 4vh;
    text-decoration: none;
}

.hero-button:hover {
    background-color: #ef744b;
}

.hero-button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.info-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5vw;
    padding-top:7vw;
    margin-top: -7vw;
}

.headshot-container {
    align-items: center;
    display: flex;
    padding: 2vw;
}

.headshot {
    width: 20vw;
    border-radius: 10vw;
}

.socials {
    display: flex;
    align-items: center;

}

.social-icon {
    padding-left: .3em;
    padding-right: .3em;
}

.icon {
    padding: .5vw;
    padding-top: 5vw;
    height: 3vw;
    width: 3vw;
}

.project-card {
    width: 15vw;
    height: 37.5vw;
    border: 1px solid black;
}

.projects-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5vw;
    padding-top:7vw;
    margin-top: -7vw;
}

.projects-container {
    display: flex;
    justify-content: space-around;
}

.form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.phone-svg {
    height: 3vw;
    width: 3vw;
}

.contact-me {
    
    /* padding-top:7vw;
    margin-top: -7vw; */
}

.contact-form {
    margin: 10vw;
    /* position: absolute; */
    /* top: 10%;
    left: 10%;
    width: 80%;
    height: 600px; */
}

input, textarea {
    width: 100%;
    margin-top: 2rem;
    border: none;
    border-bottom: 2px solid black;
}

.submit {
    border: 2px solid black;
    padding: 1rem;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

footer {
    height: 70px;
    background-color: #303030;
}

.project-1 {
    background-image: url('chess.png');
    background-size: cover;
    height: 100%;
}

.chess-img {
    height: 15vw;
}

.asteroids-img {
    height: 15vw;
}

.project-2 {
    background-image: url('asteroids.jpg');
    background-size: cover;
    height: 100%;
}

.github-button {
    /* background-color: white;
    
    color: #303030;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vw;
    font-weight: 200; */
    border: solid 2px #303030;
    width: 30vw;
    height: 5vw;
    border-radius: 1.8vw;
    color: #303030;
    background-color: white;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 200;
    /* padding-top: .8vh; */
    margin-top: 4vw;
    /* margin-bottom: -8vw; */
    margin-bottom: 4vw;
    text-decoration: none;

}

 /* The Modal (background) */
 .modal-1, .modal-2 {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 200%;
    overflow: scroll;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  

  /* Add Animation */
 @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  
  /* Modal Content/Box */
  .chess-modal, .asteroids-modal {
    background-color: #fefefe;
    margin: 10vh auto;
    padding: 20px;
    border: 1px solid #888;
    /* font-size: 2vw; */
    width: 80%;
    overflow: scroll;
    /* height: 70%; */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

@media only screen and (min-width: 1000px) {

    .logo-img {
        height: 200px;
    }

    .top-logo {
        height: 55px;
        margin-top: 3px;
        margin-left: 10px;
        margin-bottom: 10px;
        /* border: 1px solid #fefefe; */
        border: 2px white solid;
    }

    nav {
        height: 65px;
        
    }


    ul {
        display: flex;
        list-style-type: none;
        /* width: 50vw; */
        width: 545px;
        justify-content: space-around;
        align-items: center;
        font-size: 30px;
        
    }

    h1 {
        font-size: 100px;
        font-weight: 600;
        margin: 0;
    }

    h2 {
        font-size: 50px;
    }
    
    p {
        margin: 0;
        font-size: 40px;
        font-weight: 300;
    }

    .github-button {
        font-size: 25px;
        font-weight: 200;
        width: 300px;
        height: 50px;
        border-radius: 20px;
    }

    .p-about {
        margin: 0;
        font-size: 33px;
        font-weight: 300;
    }

    .p-modal {
        margin: 0;
        font-size: 25px;
        font-weight: 300;
    }

    .hero-button {
        width: 300px;
        height: 70px;
        border-radius: 35px;
        background-color: coral;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        padding-top: 10px;
        margin-top: 50px;
    }

    .headshot {
        width: 200px;
    }

    .chess-img {
        height: 150px;
    }

    .asteroids-img {
        height: 150px;
    }

    .info-section, .projects-section {
        padding-top:65px;
        margin-top: -65px;
    }

    /* .contact-me {
        padding-top:-50px;
        margin-top: 50px; 
    } */

}

@media only screen and (max-width: 700px) {
    /* .socials {
        display: flex;
        align-items: center;
    
    } */
    
    .social-icon {
        padding-left: .3em;
        padding-right: .3em;
    }
    
    .icon {
        padding: 5px;
        padding-top: 45px;
        height: 25px;
        width: 25px;
    }
}