

html {
    scroll-behavior: smooth;
}

.top-logo {
    margin-left: 0vw;
    margin-bottom: 0vw;
    margin-top: 0vw;
    height: clamp(23px, 6.5vw, 58px);
    /* border: 2px white solid; */
}

body {
    font-family: 'Poppins', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    
}

.p-modal {
    font-size: 3px;
}

a {
    color: inherit;
    text-decoration: none;
}

a .projects {
    text-decoration: underline;
}

a:hover {
    color: #cccccc
}

a:focus {
    color: #666666;
}

.hero {
    background-color: #1c1d25;
    min-height: 100vh;
    color: white;
    z-index: 1;
}



.hero-section {
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: flex-end; /* Align content to the bottom */
    padding: 0 5vw 5vh 5vw; /* Add padding for spacing from the edges */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("trout-lake-meee.jpg");
    background-position: calc(50% - 100px) center; */
    background: 
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
        url("trout-lake-meee.jpg") calc(50% - 100px) center / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100vh; /* Full-screen height */
    text-shadow: 3px 3px hsl(208, 6%, 44%);
}

.page-content {
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: white;
    top: 100vh;
}

.hero-text {
    position: absolute;
    margin-left: 5vw;
    margin-bottom: 0vh;
    margin: 0;
    max-width: 60vw;
    max-height: 100vh;
    text-align: left;
    /* overflow: hidden; */
    padding: 0 5vw 5vh 5vw; /* Fallback for older browsers */
    padding: 0 calc(5vw + env(safe-area-inset-left)) calc(8vh + env(safe-area-inset-bottom)) calc(5vw + env(safe-area-inset-right));
}

.hero-button {
    width: 7.5em;
    height: 1.8em;
    border-radius: 1em;
    background-color: coral;
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.5rem);;
    font-weight: 700;
    padding-top: .8vh;
    margin-top: 2vh;
    text-decoration: none;
}

.hero-button:hover {
    background-color: #ef744b;
}

.hero-button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.socials {
    display: flex;
    justify-content: flex-start;
    gap: 1vw; /* Space between icons */

}

.social-icon {
    padding-left: .3em;
    padding-right: .3em;
}

.hero-banner {
    /* padding-top: 10%; */
    font-size: clamp(2rem, 8vw, 5rem);
    font-weight: 600;
    margin: 0;
    margin-bottom: 1vh; /* Space between text */
}



footer {
    /* height: 500px; */
    background-color: black;
}

.logo-img {
    height: 20vw;
    background-color: #fefefe;
    
    /* margin: 0px;
    padding: 0px; */
}

nav { 
    display: flex;
    justify-content: space-between;
    background-color: #090909;
    color: white;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    padding-right: 1em;
    height: 6.5vw;
    height: clamp(30px, 6.5vw, 60px);
    transition: top 0.3s;
    
}

ul {
    display: flex;
    list-style-type: none;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(10px, 3vw, 30px);
    /* font-size: 3vw; */
    
}

li {
    text-decoration: none;
}



h2 {
    font-size: clamp(16px, 3.3vw, 36px);
}

p {
    margin: 0;
    font-size: clamp(12px, 3.3vw, 16px);
    font-weight: 300;
}

.p-hero {
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    font-weight: 300;
}

.p-about {
    font-size: clamp(12px, 3.3vw, 18px);
    padding-bottom: clamp(15px, 5vw, 30px);
    font-weight: 300;
}

.p-modal {
    font-size: 2.5vw;
}

.buttonContainer {
    margin-top: 2vh; /* Space between text and buttons */
}

.about-ps {
    padding-top: 10vw;
}

.info-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5vw;
    padding-top:7vw;
    margin-top: -7vw;
}

.headshot-container {
    align-items: center;
    display: flex;
    padding: 2vw;
}

.headshot {
    width: 20vw;
    border-radius: 10vw;
}

.icon {
    padding: 1vw;
    padding-top: 5vw;
    height: 5vw;
    width: 5vw;
}

.project-card {
    width: 15vw;
    height: 37.5vw;
    border: 1px solid black;
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25); */
}

.projects-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5vw;
    padding-top:7vw;
    margin-top: -7vw;
}

.projects-container {
    display: flex;
    justify-content: space-around;
}

.form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.phone-svg {
    height: 3vw;
    width: 3vw;
}

.contact-form {
    margin: 10vw;
}

input, textarea {
    width: 100%;
    margin-top: 2rem;
    border: none;
    border-bottom: 2px solid black;
}

.submit {
    border: 2px solid black;
    padding: 1rem;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

footer {
    height: 70px;
    background-color: #303030;
}

.project-1 {
    background-image: url('chess.png');
    background-size: cover;
    height: 100%;
}

.chess-img {
    height: 15vw;
}

.asteroids-img {
    height: 15vw;
}

.project-2 {
    background-image: url('asteroids.jpg');
    background-size: cover;
    height: 100%;
}

.github-button a {
    color: black;
}

.github-button a:hover {
    color: #777777;
}

.github-button a:focus {
    color: #cccccc;
}

.github-button {
    border: solid 2px #303030;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
    width: 30vw;
    height: 5vw;
    border-radius: 1.8vw;
    color: #303030;
    background-color: white;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 200;
    /* padding-top: .8vh; */
    margin-top: 4vw;
    /* margin-bottom: -8vw; */
    margin-bottom: 4vw;
    text-decoration: none;

}

 /* The Modal (background) */
 .modal-1, .modal-2 {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 200%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /* Add Animation */
 @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  
  /* Modal Content/Box */
  .chess-modal, .asteroids-modal {
    background-color: #fefefe;
    margin: 10vh auto;
    padding: 20px;
    border: 1px solid #888;
    /* font-size: 2vw; */
    width: 90%;
    overflow:auto;
    height: 40%;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

/* @media screen and (min-width: 1000px) {

   .logo-img {
       height: 200px;
   }

   .top-logo {
       height: 61px;
       margin-top: 0px;
       margin-left: 1px;
       margin-bottom: 0px;
   }

   nav {
       height: 65px;
       
   }


   ul {
       display: flex;
       list-style-type: none;
       width: 545px;
       justify-content: space-around;
       align-items: center;
       font-size: 30px;
       
   }

   .github-button {
       font-size: 25px;
       font-weight: 200;
       height: 50px;
       border-radius: 20px;
   }

   .icon {
        padding: 10px;
        padding-top: 50px;
        height: 50px;
        width: 50px;
    }

   .p-modal {
       margin: 0;
       font-size: 25px;
       font-weight: 300;
   }

   .hero-button {
        width: 200px;
        height: 50px;
        border-radius: 25px;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        line-height: 50px;
        margin-bottom: 1vh;
   }

   .headshot {
       width: 200px;
   }

   .chess-img {
       height: 150px;
   }

   .asteroids-img {
       height: 150px;
   }

   .info-section, .projects-section {
       padding-top:65px;
       margin-top: -65px;
   }

   .hero-banner {
    font-size: 100px;
   }
   
}

@media screen and (max-height: 700px) {
    .hero-section {
        padding-top: 5vh;
    }
} */